html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none; }

ul {
  font-family: "Roboto", sans-serif; }

header {
  max-width: 900px;
  margin: 30px auto; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header ul li {
      display: inline; }
      header ul li.support a {
        color: #999999;
        text-decoration: none; }
      header ul li.hedwig a {
        color: #000;
        text-decoration: none;
        background: url(../images/small-hedwig-icon.svg) no-repeat 0px 2px;
        padding-left: 27px; }
      header ul li.download a {
        color: #4CD964;
        text-decoration: none; }

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .wrapper .left {
    padding-top: 75px; }
    .wrapper .left .icon {
      border: 1px solid #ECECEC;
      border-radius: 20px;
      width: 71px;
      height: 71px;
      background: url(../images/regular-hedwig-icon.svg) no-repeat 21px 17px;
      margin-bottom: 20px;
      margin-left: 20px; }
    .wrapper .left .title {
      padding: 20px;
      font-family: "Roboto", sans-serif;
      font-size: 1.875em;
      color: #000;
      font-weight: 300;
      line-height: 1.5em; }
      .wrapper .left .title h1, .wrapper .left .title span {
        display: inline; }
      .wrapper .left .title .fade {
        -webkit-animation-duration: 5s;
                animation-duration: 5s;
        -webkit-animation-name: fade;
                animation-name: fade; }
@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fade {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
    .wrapper .left img {
      margin-top: 30px; }
      .wrapper .left img:hover {
        opacity: 0.8; }
    .wrapper .left ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 180px; }
      .wrapper .left ul.fr {
        max-width: 425px; }
      .wrapper .left ul.en {
        max-width: 330px; }
      .wrapper .left ul li {
        display: inline; }
        .wrapper .left ul li a {
          font-size: 0.8125em;
          color: #B2B2B2;
          text-decoration: none; }
  .wrapper .right {
    position: relative;
    font-family: "Arial", sans-serif; }
    .wrapper .right .hand {
      position: absolute;
      top: 0;
      left: 70px; }
      .wrapper .right .hand .device {
        width: 530px;
        height: 870px;
        background-repeat: no-repeat; }
        .wrapper .right .hand .device .screen {
          position: absolute;
          z-index: 2; }
          .wrapper .right .hand .device .screen .message {
            z-index: 2;
            background-color: #4CD964;
            color: #fff;
            font-size: 0.9375em;
            line-height: 1.13333em; }
          .wrapper .right .hand .device .screen p {
            color: #BBBBBB;
            font-size: 0.6875em; }
        .wrapper .right .hand .device .bubble_fade {
          -webkit-animation-duration: 2s;
                  animation-duration: 2s;
          -webkit-animation-fill-mode: forwards;
                  animation-fill-mode: forwards;
          -webkit-animation-name: fadeInUp;
                  animation-name: fadeInUp; }
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
        .wrapper .right .hand .device .message_status_fade {
          -webkit-animation-duration: 2s;
                  animation-duration: 2s;
          -webkit-animation-delay: 2s;
                  animation-delay: 2s;
          -webkit-animation-name: fade;
                  animation-name: fade;
          -webkit-animation-fill-mode: forwards;
                  animation-fill-mode: forwards;
          opacity: 0; }
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
        .wrapper .right .hand .device.iphone {
          background-image: url(../images/phone-iphone.svg); }
          .wrapper .right .hand .device.iphone .screen {
            top: 106px;
            left: 83px;
            width: 216px;
            height: 290px; }
            .wrapper .right .hand .device.iphone .screen .message {
              border-radius: 15px;
              width: 146px;
              padding: 12px;
              float: right;
              margin: 10px 10px 7px; }
            .wrapper .right .hand .device.iphone .screen p {
              float: right;
              margin-right: 10px; }
        .wrapper .right .hand .device.android {
          background-image: url(../images/phone-android.svg); }
          .wrapper .right .hand .device.android .screen {
            width: 236px;
            height: 355px;
            top: 76px;
            left: 73px; }
            .wrapper .right .hand .device.android .screen .message {
              width: 145px;
              padding: 12px;
              border-radius: 9px;
              float: right;
              margin: 10px 10px 7px; }
            .wrapper .right .hand .device.android .screen p {
              float: right;
              margin-right: 10px; }
        .wrapper .right .hand .device.mukia {
          background-image: url(../images/phone-mukia.svg); }
          .wrapper .right .hand .device.mukia .screen {
            top: 69px;
            left: 90px;
            width: 161px;
            height: 218px; }
            .wrapper .right .hand .device.mukia .screen .message {
              width: 110px;
              padding: 10px;
              border-radius: 0;
              float: left;
              margin: 35px 0 0 10px; }
            .wrapper .right .hand .device.mukia .screen p {
              position: absolute;
              top: 10px;
              left: 10px; }
