header 
  ul 
    li.support
      = link_to t 'nav.support.link'
        = t 'nav.support.title'
    li.hedwig
      = link_to t 'nav.home.link'
        = t 'nav.home.title'
    li.download
      = link_to 'nav.download.link'
        = t 'nav.download.title'

.wrapper
  a.iubenda-white.no-brand.iub-body-embed.iubenda-embed href="https://www.iubenda.com/privacy-policy/8135062" title=("Privacy Policy")  Privacy Policy
  javascript:
    (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);
